article {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

section {
  background: #f1f3f7;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  margin-bottom: 30px;
  padding: 40px 80px;
  width: 960px;
  position: relative;
}

section .glyphicon {
  position: absolute;
  top: 12px;
  opacity: .4;
  transition: all .2s;
}

.blockquote .glyphicon {
  right: 5px;
}

.blockquote-reverse .glyphicon {
  left: 5px;
}

section .glyphicon:hover {
  opacity: .8;
}

section:last-child {
  margin-bottom: 0 !important;
}

textarea {
  height: 118px !important;
}
