article {
  margin: 0 auto;
  position: relative;
  width: 960px;
}

section {
  background: #f1f3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  margin-bottom: 30px;
  padding: 40px 80px;
  width: inherit;
}

section:last-child { margin-bottom: 0 !important }
