article {
  background: #f1f3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.search-res {
  margin-left: 84px;
}

.search-res h4 {
  line-height: 60px;
}

aside {
  margin: 30px auto 0;
  position: relative;
  width: 960px;
}

section {
  padding: 40px 80px;
  width: inherit;
}

section[class="clearfix"] {
  margin-bottom: 30px;
}

aside .aside {
  background: #f1f3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  padding: 30px;
  margin: 0 30px 30px 0;
  float: left;
  width: 270px;
  height: 130px;
}

div .search {
  width: 660px;
  height: 340px;
  margin: 0;
  float: right;
}

div .search-auth {
  height: 180px;
  margin: 0;
}

#left-scroll,
#right-scroll {
  background: #ccc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  height: calc(100% - 40px);
  opacity: 0.5;
  position: absolute;
  transition: opacity 0.2s;
  width: 40px;
}

#left-scroll {
  left: 20px; top: 20px;
}

#right-scroll {
  right: 20px; top: 20px;
}

#left-scroll:hover,
#right-scroll:hover {
  opacity: 0.9;
}

#left-scroll i,
#right-scroll i {
  font-size: 1.6em;
  position: absolute;
  left: 9px; top: 50%;
}

#search {
  margin-top: 20px;
}
