article {
  background: #f1f3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  margin: 0 auto;
  padding: 30px;
  position: relative;
  width: 480px;
}

.quoteAddResult {
  background: #c77;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  margin: 0 auto 30px;
  padding: 15px 20px;
  position: relative;
  width: 480px;
}

.glyphicon {
  color: #fff;
  position: absolute;
  right: 6px; top: 8px;
  opacity: .7;
  transition: all .2s;
}

.glyphicon:hover {
  opacity: 1;
}
