* {
  color: black;
  font: 13px Tahoma, Arial;
  margin: 0;
  padding: 0;
}

body { background: #f7f9fc }

a { cursor: pointer }

header {
  background: #475c95;
  -webkit-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  -moz-box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  box-shadow: 0 1px 2px
    rgba(6, 33, 63, 0.13);
  height: 50px;
  width: 100%;
}

nav {
  height: inherit;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: 960px;
}

nav a:first-child {
  background: url(../images/logo50.png)
  10px 2px no-repeat;
  font-weight: bold;
  padding-left: 75px;
  padding-right: 15px;
}

nav a {
  color: white;
  float: left;
  height: inherit;
  line-height: 48px;
  padding: 0 15px;
}

nav a:hover,
nav a:focus {
  background-color: #3c4d7d;
  color: white;
  text-decoration: none;
}

.logo-wrap {
  float: left;
  height: inherit;
  width: 240px;
}

#sign-up,
#log-in,
#log-out{
  float: right;
}

main { padding-top: 30px; }

section a {
  display: inline-block;
  float: right;
  margin: 0 8px;
}

blockquote p {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.quotes-id { display: none; }

#footer {
  line-height: 1.15em;
  padding: 15px 0px 25px;
  text-align: center;
}

#footer h5 { font-size: 1em; }
