<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/styles/account-style.css">
<article>
  <section>
    <h4>Account</h4><hr>
    <p>Username: {{ g.user.username }}</p><br>
    <p id="accountQuotesLength">Number of quotes: {{ quotes|length }}</p><br>
    <h5 id="AcceptedChangePassword" hidden><b>Password successfully changed!</b></h5><br>

    <input type="hidden" class="btn btn-primary">
    <input id='changePassword' type="submit" value="Change password" class="btn btn-primary">

    <div id="changePasswordForm" hidden>
      <div class="form-group">
        <label>Enter new password</label>
        <input id="newPassword" type="password" name="pas" class="form-control" required>
      </div>

      <div class="form-group">
        <input id="changePassBtn" type="submit" value="Continue" class="btn btn-primary">
      </div>
    </div>
  </section>

  <fieldset>
    <legend>Added quotes</legend>
  </fieldset>

  {% if quotes|length == 0%}
    <section>
      <h4>You have not added any quotes. You can do it at page "Add quote".</h4>
    </section>
  {% endif %}

  {% for i in range(0, (quotes|length)//2) %}
    <section class="clearfix">
      <blockquote class="blockquote-reverse">
        <a class="removeQuote glyphicon glyphicon-remove"></a>
        <p>{{quotes[2*i].text}}</p>
        <footer><cite>{{quotes[2*i].owner}}</cite></footer>
      </blockquote>
      <a class="cntFavorites">{{quotes[2*i].cntFans}}</a>

      {% if  g.user.is_authenticated and quotes[2*i].is_liked(g.user) %}
        <a class="favorites" >Remove from bookmarks</a>
        <a class="favorites" style="display: none;">Add to bookmarks</a>
      {% else %}
        <a class="favorites" style="display: none;">Remove from bookmarks</a>
        <a class="favorites">Add to bookmarks</a>
      {% endif %}

      <div class="quotes-id">{{quotes[2*i].id}}</div>
    </section>

    <section class="clearfix">
      <blockquote class="blockquote">
        <a class="removeQuote glyphicon glyphicon-remove"></a>
        <p>{{quotes[2*i+1].text}}</p>
        <footer><cite>{{quotes[2*i+1].owner}}</cite></footer>
      </blockquote>
      <a class="cntFavorites">{{quotes[2*i+1].cntFans}}</a>

      {% if  g.user.is_authenticated and quotes[2*i+1].is_liked(g.user) %}
        <a class="favorites">Remove from bookmarks</a>
        <a class="favorites" style="display: none;" href="#">Add to bookmarks</a>
      {% else %}
        <a class="favorites" style="display: none;" href="#">Remove from bookmarks</a>
        <a class="favorites">Add to bookmarks</a>
      {% endif %}

      <div class="quotes-id">{{quotes[2*i+1].id}}</div>
    </section>
  {% endfor %}

  {% if (quotes|length)%2 != 0 %}
    <section class="clearfix">
      <blockquote class="blockquote-reverse">
        <a class="removeQuote glyphicon glyphicon-remove"></a>
        <p>{{quotes[(quotes|length) - 1].text}}</p>
        <footer><cite>{{quotes[(quotes|length) - 1].owner}}</cite></footer>
      </blockquote>
      <a class="cntFavorites">{{quotes[(quotes|length) - 1].cntFans}}</a>

      {% if  g.user.is_authenticated and quotes[(quotes|length) - 1].is_liked(g.user) %}
        <a class="favorites">Remove from bookmarks</a>
        <a class="favorites" style="display: none;" href="#">Add to bookmarks</a>
      {% else %}
        <a class="favorites" style="display: none;" href="#">Remove from bookmarks</a>
        <a class="favorites">Add to bookmarks</a>
      {% endif %}

      <div class="quotes-id">{{quotes[(quotes|length) - 1].id}}</div>
    </section>
  {% endif %}
</article>

{% endblock %}
