<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/styles/add-style.css">

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="quoteAddResult">
  <i class="remove-message glyphicon glyphicon-remove"></i>
  <h5>{% for message in messages %}
      {{ message }}
    {% endfor %}</h5>
</div>
{% endif %}
{% endwith %}
<article>
  <section>

    <form action="" method="post">
      {{addForm.hidden_tag()}}

      <fieldset>
        <legend>Add quote</legend>

        <div class="form-group">
            {{addForm.text.label}}
            <pre>{{addForm.text(class="form-control", autofocus=True)}}</pre>
        </div>

        <div class="form-group">
            {{addForm.owner.label}}
            {{addForm.owner(class="form-control")}}
        </div>

        <div class="col-md-6">
          <div class="checkbox">
            <label>
              {{addForm.business}} Business
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.sport}} Sport
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.guys}} Guys
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.girls}} Girls
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.philosophy}} Philosophy
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.books}} Books
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.films}} Films
            </label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="checkbox">
            <label>
              {{addForm.songs}} Songs
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.motivation}} Motivation
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.art}} Art
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.poems}} Poemes
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.love}} Love
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.humor}} Humor
            </label>
          </div>

          <div class="checkbox">
            <label>
              {{addForm.science}} Science
            </label>
          </div>
        </div>

        <input type="submit" name="add" value="Add quote" class="btn btn-primary">
      </fieldset>
    </form>
  </section>
</article>
{% endblock %}
