<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/styles/bootstrap.min.css" >
  <link rel="stylesheet" href="../static/styles/style.css">
  <link rel="shortcut icon" href="../static/images/logo.ico">

  <title>QuotePad</title>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<body>
  <div class="container-fluid">
    <header>
      <nav>
        <div class="logo-wrap">
          <a href={{url_for('index')}}>QuotePad</a>
        </div>

        {% if g.user.is_authenticated %}
          <a href={{url_for('liked',  username=g.user.username)}}>Bookmarks</a>
          <a href={{url_for('add',  username=g.user.username)}}>Add quote</a>
          <a id="log-out" onclick="location.href='/logout';">Log out</a>
            <a id = 'log-in' href={{url_for('account',  username=g.user.username)}}>{{ g.user.username }}</a>

        {% else %}
          <a href={{url_for('registration')}} id="sign-up">Sign up</a>
          <a href={{url_for('signIn')}} id="log-in">Log in</a>
        {% endif %}
      </nav>
    </header>

    <main class="clearfix">
      {% block content %}{% endblock %}

      <footer id="footer">
        <h5>Copyright (c) 2016 Copyright Holder All Rights Reserved.</h5>
        <h5>Egor (sawasbee) & Evgenij (sievmi)</h5>
      </footer>
    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>
