<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/styles/favorite-style.css">
<article>

{% if quotes|length == 0%}
    <section>
      <h4>Your bookmarks are empty.</h4>
    </section>
{% endif %}

  {% for i in range(0, (quotes|length)//2) %}

  <section class="clearfix">
    <blockquote class="blockquote-reverse">
      <p>{{quotes[2*i].text}}</p>
      <footer><cite>{{quotes[2*i].owner}}</cite></footer>
    </blockquote>
    <a class="cntFavorites">{{quotes[2*i].cntFans}}</a>

    {% if  g.user.is_authenticated and quotes[2*i].is_liked(g.user) %}

      <a class="favorites">Remove from bookmarks</a>
      <a class="favorites" style="display: none;">Add to bookmarks</a>

    {% else %}

      <a class="favorites" style="display: none;">Remove from bookmarks</a>
      <a class="favorites">Add to bookmarks</a>

    {% endif %}

    <div class="quotes-id">{{quotes[2*i].id}}</div>
  </section>

  <section class="clearfix">
    <blockquote>
      <p>{{quotes[2*i+1].text}}</p>
      <footer><cite>{{quotes[2*i+1].owner}}</cite></footer>
    </blockquote>
    <a class="cntFavorites">{{quotes[2*i+1].cntFans}}</a>

    {% if  g.user.is_authenticated and quotes[2*i+1].is_liked(g.user) %}

      <a class="favorites">Remove from bookmarks</a>
      <a class="favorites" style="display: none;">Add to bookmarks</a>

    {% else %}

      <a class="favorites" style="display: none;">Remove from bookmarks</a>
      <a class="favorites">Add to bookmarks</a>

    {% endif %}

    <div class="quotes-id">{{quotes[2*i+1].id}}</div>
  </section>

{% endfor %}

{% if (quotes|length)%2 != 0 %}

  <section class="clearfix">
    <blockquote class="blockquote-reverse">
      <p>{{quotes[(quotes|length) - 1].text}}</p>
      <footer><cite>{{quotes[(quotes|length) - 1].owner}}</cite></footer>
    </blockquote>
    <a class="cntFavorites">{{quotes[(quotes|length) - 1].cntFans}}</a>

    {% if  g.user.is_authenticated and quotes[(quotes|length) - 1].is_liked(g.user) %}

      <a class="favorites">Remove from bookmarks</a>
      <a class="favorites" style="display: none;">Add to bookmarks</a>

    {% else %}

      <a class="favorites" style="display: none;">Remove from bookmarks</a>
      <a class="favorites">Add to bookmarks</a>

    {% endif %}

    <div class="quotes-id">{{quotes[(quotes|length) - 1].id}}</div>
  </section>

  {% endif %}

</article>

{% endblock %}
