<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/styles/main-style.css">

<article>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="search-res"><h4>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </h4></div>
      {% endif %}
    {% endwith %}

  {% if quotes|length != 0%}
    <div id="left-scroll"><i class="glyphicon glyphicon-chevron-left"></i></div>
  {% endif %}

  {% for i in range(0, (quotes|length)//2) %}

  <div id="content-{{i+1}}">
      <section class="clearfix">
        <blockquote class="blockquote-reverse">
        <p>{{quotes[2*i].text}}</p>
        <footer><cite>{{quotes[2*i].owner}}</cite></footer>
      </blockquote>
      {% if quotes[2*i].text!="" %}
          <a class="count-favorites">{{quotes[2*i].cntFans}}</a>

      {% if  g.user.is_authenticated and quotes[2*i].is_liked(g.user) %}

          <a class="favorites">Remove from bookmarks</a>
          <a class="favorites" style="display: none;">Add to bookmarks</a>

      {% else %}

        <a class="favorites" style="display: none;">Remove from bookmarks</a>
        <a class="favorites">Add to bookmarks</a>

      {% endif %}

      <div class="quotes-id">{{quotes[2*i].id}}</div>
      {% endif %}
    </section>
    <section>
      <blockquote>
        <p>{{quotes[2*i+1].text}}</p>
        <footer><cite>{{quotes[2*i+1].owner}}</cite></footer>
      </blockquote>
    {% if quotes[2*i+1].text!="" %}
      <a class="count-favorites">{{quotes[2*i+1].cntFans}}</a>

      {% if  g.user.is_authenticated and quotes[2*i+1].is_liked(g.user) %}

        <a class="favorites">Remove from bookmarks</a>
        <a class="favorites" style="display: none;">Add to bookmarks</a>

      {% else %}

        <a class="favorites" style="display: none;">Remove from bookmarks</a>
        <a class="favorites">Add to bookmarks</a>

      {% endif %}

      <div class="quotes-id">{{quotes[2*i+1].id}}</div>
    {% endif %}
    </section>
  </div>
  {% endfor %}
  {% if quotes|length != 0 %}
    <div id="right-scroll"><i class="glyphicon glyphicon-chevron-right"></i></div>
  {% endif %}
</article>

<aside class="clearfix">
  <div class="aside">
    <h5><b>Information about quotes: </b></h5><br>
    <span><b>Total number of quotes: {{ cntQuotes }}</b></span><br>
    <span><b>Number of shown quotes: {{ quotes|length }}</b></span>
  </div>

  <div class="aside search">
  <form action="/index" method="post" name="find">

    {{findForm.hidden_tag()}}

    <fieldset>
      <legend>Search by topics</legend>
      <div class="col-md-6">
        <div class="checkbox">
          <label>
            {{findForm.findBusiness}}Business
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findSport}}Sport
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findGuys}}Guys
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findGirls}}Girls
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findPhilosophy}}Philosophy
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findBooks}}Books
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findFilms}}Films
          </label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="checkbox">
          <label>
            {{findForm.findSongs}}Songs
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findMotivation}}Motivation
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findArt}}Art
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findPoems}}Poemes
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findLove}}Love
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findHumor}}Humor
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{findForm.findScience}}Science
          </label>
        </div>
      </div>

      <input type="submit" class="btn btn-primary" value="Search" id="search">
    </fieldset>
  </form>
  </div>

  <div class="aside search-auth">
    <form method="post">
      {{ findAuthorForm.hidden_tag() }}
      <h5><b>Search by author: </b></h5><br>
      <div class="form-group">
        <label for=""></label>
        {{ findAuthorForm.findAuthor(required=True, class="form-control", placeholder="Enter author") }}
      </div>
      <input type="submit" class="btn btn-primary" value="Search" id="search_author">
    </form>
  </div>
</aside>

{% endblock %}
