<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/styles/sign-style.css">

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="quoteAddResult">
    <i class="remove-message glyphicon glyphicon-remove"></i>
    <h5>{% for message in messages %}
      {{ message }}
    {% endfor %}</h5>
  </div>
  {% endif %}
{% endwith %}

<article>
  <form action="" method="post">
      {{registerForm.hidden_tag()}}
    <div class="form-group">
      <label for="">Username</label>
      {{registerForm.registerUsername(class="form-control", required=True)}}
    </div>

    <div class="form-group">
      <label for="">Password</label>
      {{registerForm.registerPassword(class="form-control", required=True)}}
    </div>

      <div class="form-group">
      <label for="">Re-enter password</label>
      {{registerForm.confirm(class="form-control", required=True)}}
    </div>

    <div class="form-group">
      <input type="hidden" name="id" value="'.$f[id].'">
      <input type="submit" value="Sign Up" class="btn btn-primary">
    </div>
  </form>
</article>

{% endblock %}
