<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="../static/styles/sign-style.css">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="quoteAddResult">
  <i class="remove-message glyphicon glyphicon-remove"></i>
  <h5>{% for message in messages %}
    {{ message }}
    {% endfor %}</h5>
  </div>
  {% endif %}
  {% endwith %}
<article>
  <div class="wrap">

    <form action="" method="post" name="login_form" id="login_form">
        {{ loginForm.hidden_tag() }}
      <div class="form-group">
        <label for="">Username</label>
          {{loginForm.loginUsername(class="form-control")}}
      </div>

      <div class="form-group">
        <label for="">Password</label>
        {{loginForm.loginPassword(class="form-control")}}
      </div>

      <div class="form-group">
        {{loginForm.remember_me()}}
        <label for="">Remember me</label>
      </div>

      <div class="form-group">
        <input type="hidden" name="id" value="">
        <input type="submit" value="Sign In" class="btn btn-primary">
      </div>
    </form>
  </div>
</article>

{% endblock %}
